@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 55px;
}

nav {
    display: flex;
    background-color: #F55A5A;
    align-items: center;
    justify-content: center;
}

.airbnb--logo {
    max-width: 100px;
}

.travel--logo {
    display: flex;
    max-height: 24px;
}

.travel--title {
    margin-left: 10px;
    color: white;
}

section {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.hero--pic {
    max-width: 400px;
    align-self: center;
}

.hero--header {
    font-size: 30px;
    margin-bottom: 16px;
}

.hero--dec {
    font-size: 15px;
    margin-top: 0px;
}

.cards {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.card {
    padding-left: 20px;
    font-size: 10px;
}

.travelCard {
    margin: 20px 40px;
    display: flex;
}

.profile-image {
    max-height: 235px;
    max-width: 176px;
}

.destination-image {
    border-radius: 10px;
    margin-right: 20px;
    max-width: 126px;
    max-height: 168px;
}

.location {
    display: flex;
    flex-direction: row;
}

.location-icon {
    width: 10px;
    height: 14px;
    margin-top: 10px;
    margin-right: 10px;
}

.location-name {
    letter-spacing:4px;
    font-size: 10px;;
}

.maps-link {
    margin-left:10px;
    font-size: 10px;;
}

.spot-name {
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
}

.view-date {
    margin-top: 10px;
    font-size: 10px;
}

.spot-desc {
    margin-top: 10px;
    font-size: 10px;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 16px;
    margin-right: 5px;
}

.gray {
    color: #918E9B    
}

.bold {
    font-weight: bold;
}

.card--badge {
    position: relative;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}