@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

.header-image {
    height: 100%;
    margin-right: 10px;
}

.header-title {
    font-size: 30px;
    margin-right: auto;
}

.header-project {
    font-size: 12px;
    font-weight: 500;
}

.form {
    display: grid;
    grid-template: 50px 50px / 1fr 1fr / 1fr 1fr;
    gap: 10px;
    padding: 36px;
}

.form--button {
    grid-column: 1/3;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
}

.form--img {
    width: 100%;
    grid-column: 1/3;
}

.light {
    padding: 20px 27px;
    color: black;
    background-color: white;
}

.dark {
    padding: 20px 27px;
    color: white;
    background-color: black; 
}

.main--facts {
    margin-top: 20px;
    max-width: 400px;
}

.main--facts > li {
    line-height: 19px;
    padding-block: 10px;
}

.main--facts > li::marker {
    font-size: 1.4rem;
    color: #61DAFB
}

/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    left : 30px;
    background-color: black;
}
       
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: white;
}
       
/* Checkbox vanished */
.checkbox {
    display : none;
}

/* toggle in label designing */
.toggle {
    position : relative ;
    width : 60px;
    height : 30px;
    background-color: black;
    border-radius: 20px;
}
       
/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 60%;
    background-color: white;
}